body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9ecef; /* Cor de fundo suave */
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(135deg, #002366, #004080); /* Gradiente de fundo */
}

.login-title {
    font-size: 36px;
    color: white;
    margin-bottom: 30px; /* Espaçamento aumentado */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para destaque */
}

.login-container form {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 40px;
    background-color: white;
    border-radius: 15px; /* Bordas mais arredondadas */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Sombra mais forte */
}

.login-container label {
    margin-bottom: 5px;
    color: #555; /* Cor mais suave */
    font-weight: bold;
}

.login-container input {
    margin-bottom: 15px; /* Espaçamento aumentado */
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px; /* Bordas arredondadas */
    transition: border-color 0.3s ease;
}

.login-container input:focus {
    border-color: #007bff; /* Cor ao focar */
    outline: none; /* Remove o contorno padrão */
}

.login-container button {
    padding: 12px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px; /* Bordas arredondadas */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-container button:hover {
    background-color: #0056b3; /* Cor mais escura ao passar o mouse */
    transform: translateY(-2px); /* Leve elevação ao passar o mouse */
}

#error-message {
    color: red;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}

/* Estilização para o botão de upload */
.upload-container {
    margin-bottom: 20px;
}

.upload-container input[type="file"] {
    display: block;
    margin: 10px auto;
}

.upload-container button {
    padding: 12px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px; /* Bordas arredondadas */
    transition: background-color 0.3s ease;
}

.upload-container button:hover {
    background-color: #0056b3; /* Cor mais escura ao passar o mouse */
}
